spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/cinema_booking_test
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: create-drop
  data:
    redis:
      host: localhost
      port: 6379
  kafka:
    bootstrap-servers: localhost:9092

logging:
  level:
    root: WARN
    com.cinema: DEBUG
